<div class="res-info">
    <div class="res-score-label">Your score</div>
    <div class="res-score"><%= score %></div>
    <div class="res-complete"><% if(complete){ %>Success<% } else { %>Fail<% } %></div>
</div>

<% if(complete && nextStage){ %> <a class="btn next" href="#game/<%= nextStage.id %>">Дальше</a><% } %>
<% if(complete && !nextStage){ %> <a class="btn next" href="#level/<%= stage.get('levelId') %>/stage">К уровням</a><% } %>

<div class="game-btn-bar">
    <img src="img/refresh.png" class="reset">

    <a class="to-stages">
        <img src="img/menu.png" class="menu">
    </a>

</div>

