<div class="res-info">
    <div class="res-score-label"><%= nls._score %></div>
    <div class="res-score"><%= nls.score %></div>
    <div class="res-complete"><% if(complete){ %><%= nls._success %><% } else { %><%= nls._fail %><% } %></div>
</div>

<% if(complete && nextStage){ %> <a class="btn next" href="#game/<%= nextStage.id %>"><%= nls._next %></a><% } %>
<% if(complete && !nextStage){ %> <a class="btn next" href="#level/<%= stage.get('levelId') %>/stage"><%= nls._toLevel %></a><% } %>

<div class="game-btn-bar">
    <img src="img/refresh.png" class="reset">

    <a class="to-stages">
        <img src="img/menu.png" class="menu">
    </a>

</div>

