@font-face {
    font-family: 'Gothic';
    src: URL('../font/Seagram tfb.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family:sans-serif;
    font-weight: 100;
}

.header {
    height: 89%;
    text-align: center;
}

.header .text
{
   position: relative;
    top:12%;

}

.header h1 {
    font-weight: bold;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 60px;
    color: #FFEA82;
    font-family: "Gothic";
}
.header p {
    color: #0a0a0a;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 50px;
    margin-top: 0;
    font-size:20px;
    text-transform: uppercase;

}

.btn {
    /* border: 4px solid #FFEA82; */
    color: #FFEA82;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.btn:active, .list ul li :hover{
    background: rgba(255, 234, 130, 0.5);
    cursor: pointer;
    transition: background .5s;
}

/*@media only screen and (max-width: 800px) {
    .header h1
    {
        font-size: 65px;
    }
    .list ul li {
        font-size: 18px;
        padding: 0 35px;
    }

}
@media only  screen and (max-width: 500px) {

    .header h1
    {
        font-size: 30px;
        line-height: 40px;
    }
    .list ul li
    {
        font-size:14px;
        padding: 0 15px;
    }
    .list ul li a
    {
        line-height: 58px;
    }

}
@media only  screen and (max-width: 300px) {
    .header p
    {
        display: none;
    }
    .list ul li
    {
        font-size:11px;
        padding: 0 10px;
    }
    .list ul li a
    {
        line-height: 30px;
    }
}*/

.menu-btn {
    position: absolute;
}

.menu-btn img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.menu-btn.volume-btn {
    bottom: 0px;
    left: 0px;
}

.menu-btn.volume-btn {
    bottom: 0px;
    left: 0px;
}

.menu-btn.info-btn {
    bottom: 0px;
    right: 0px;
}