<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id = "com.startappsoft.pathoftheknight"
        versionCode = "0"
        version = "0.0.0">

    <name>Path of the Knight</name>

    <description>
        A simple employee directory application
    </description>

    <preference name="orientation" value="portrait" />

    <gap:config-file platform="android" parent="/manifest">
        <supports-screens
                android:configChanges="orientation"/>
    </gap:config-file>

    <author href="http://startappsoft.con" email="andrew.daskhevich@yandex.ru">
        Andrew Dashkevich
    </author>

    <gap:plugin name="org.apache.cordova.media" version="0.2.13" />

    <gap:plugin name="cordova-admob" source="npm" version="4.1.6" />

    <gap:plugin name="cordova-plugin-device" version="1.0.1" />

    <!--<gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />-->

    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <icon src="img/appicons/xxhdpi.png" />
    <icon src="img/appicons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="img/appicons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="img/appicons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="img/appicons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="img/appicons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />


    <!--<feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>-->

</widget>