<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id = "com.startappsoft.pathoftheknight"
        versionCode = "0"
        version = "0.0.0">

    <name>Path of the Knight</name>

    <description>
        A simple employee directory application
    </description>

    <preference name="orientation" value="portrait" />

    <gap:config-file platform="android" parent="/manifest">
        <supports-screens
                android:configChanges="orientation"/>
    </gap:config-file>

    <author href="http://startappsoft.con" email="andrew.daskhevich@yandex.ru">
        Andrew Dashkevich
    </author>

    <gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />

    <!--<gap:plugin name="com.admob.google" source="plugins.cordova.io" />-->

    <!--<feature name="GAPlugin" >
        <param name="android-package" value="com.adobe.plugins.GAPlugin"/>
    </feature>-->

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>