<a href="#menu" class="page-title"><%= _infoTitle %></a>
<div class="info">
    <div class="step step-1">
        <p><%= _knightStepInfo %></p>
        <div class="knight-turn"></div>
        <div class="info-btn-bar">
            <a class="btn" href="#info/2"><%= _next %></a>
        </div>
    </div>
    <div class="step step-2">
        <p><%= _gameRuleInfo %></p>
        <div class="game-process"></div>
        <div class="info-btn-bar">
            <a class="btn" href="#menu"><%= _close %></a>
        </div>
    </div>
</div>