<a href="#menu" class="page-title">
    Инфо
</a>
<div class="info">
    <div class="step step-1">
        <p>Конь может пойти на любое поле доски если она располагается на другом конце буквы Г, т. е. вначале конь перемещается на два поля по горизонтали или по вертикали, а затем на одну клетку перпендикулярно первоначальному направлению.</p>
        <div class="knight-turn"></div>
        <div class="info-btn-bar">
            <a class="btn" href="#info/2">Далее</a>
        </div>
    </div>
    <div class="step step-2">
        <p>Чтобы пройти раунд необходимо посестить все клетки шахмотной доски. После посещения клетка исчезает</p>
        <img src="img/info/knightTurn.png">
    </div>
</div>