<div class="kp-back"><a href="javascript:PopUpHide();">">< Back</a>
</div>

<span>Settings</span>

<nav>
    <ul>

        <li>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                <label class="onoffswitch-label" for="myonoffswitch3">
                    <span class="onoffswitch-inner" id="music"></span>

                </label>
            </div>

        </li>
        <li>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                <label class="onoffswitch-label" for="myonoffswitch2">
                    <span class="onoffswitch-inner" id="sound"></span>

                </label>
            </div>
        </li>
        <li>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
                <label class="onoffswitch-label" for="myonoffswitch4">
                    <span class="onoffswitch-inner" id="support"></span>

                </label>
            </div>
        </li>

        <li>


            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner" id="reset"></span>

                </label>


            </div>
        </li>

    </ul>
</nav>