<div class="kp-back">< Back</div>

<span>Settings</span>

<nav>
    <ul>

        <li>
            <div class="btn-group">
                <label>Music</label>
                <button type="button">ON</button>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <label>Sound FX</label>
                <button type="button">ON</button>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <label>Reset Progress</label>
                <button type="button">REST</button>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <label>Notifications</label>
                <button type="button">ON</button>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <label>Support</label>
                <button type="button">ON</button>
            </div>
        </li>
    </ul>
</nav>
