<a href="#level" class="page-title"><%= nls._stageTitle %></a>

<div class="stages">
    <% stages.forEach(function(stage) { %>
    <div class="stage<% if (stage.enable && stage.complete){ %> complete<% } %>">
        <% if (stage.enable){ %>
        <div class="stage-img">
            <a href="#game/<%= stage.id %>"><%= stage.number %></a>
        </div>
        <% } else { %>
        <div class="stage-img disable">
            <a><%= stage.number %></a>
        </div>
        <% } %>

    </div>
    <% }); %>
</div>