.white-cell{
    background-color: beige;
}

.black-cell{
    background-color: brown;
}

.knight{
}

td.active{
    box-shadow: inset 0px 0px 90px rgba(0,0,0,0.9);
}

td.disable{
    background-color: black;
}