.white-cell{
    background-color: beige;
}

.black-cell{
    background-color: brown;
}

.chess-table{
    float: left;
}

.game-btn-bar{
    display: inline-block;
    float: left;
}

.knight{
}

td.active{
    box-shadow: inset 0px 0px 90px rgba(0,0,0,0.9);
}

td.disable{
    background-color: black;
}

.dialog {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
}

.res-info *{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 44px;
}

.res-complete {
    font-size: 28px;
}

.restart-btn {
    float: left;
}

.menu-btn {
    float: right;
}