.level {
    display: block;
    margin: 5% 5%;
    width: 40%;
    position: relative;
    float: left;
}
.level img{
    width: 100%;
}

.level span{
    position: absolute;
    bottom: 8;
    left: 0;
    right: 0;
    text-align: center;
    color: #464C56;
    font-size: 21px;
    text-transform: uppercase;
    font-family: Verdana;
    font-weight: bold;
}