html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family:sans-serif;
    font-weight: 100;
}

.header {
    background: url("../img/menu-bg.png") no-repeat center top;
    background-size: cover;
    height: 89%;
    text-align: center;
}
.header .text
{
   position: relative;
    top:12%;

}

.header h1 {
    color: #0a0a0a;
    line-height: 100px;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: bold;
    text-transform: uppercase;
}
.header p {
    color: #0a0a0a;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 50px;
    margin-top: 0;
    font-size:20px;
    text-transform: uppercase;

}

.app {
    background: url("../img/bk-color.png") repeat;
}




.btn {
    color: #fff;
    background: #000;
    padding: 30px 60px;
    text-decoration: none;
    font-size:20px;
    transition: background 5s;
}
.list {
    background: #000;
    height: 11%;
    width: 100%;
}

.list ul {
    height: 10%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.list ul li {

    display: inline-block;

    line-height: 80px;
    list-style: none;
    padding: 0 50px;
    font-size:20px;
    transition: background .5s;
}
.list ul li a
{
 line-height: 80px;
padding:0,80px;
  text-decoration: none;
}
#Left
{
    float: left;
}
#Right
{
    float:right;
}
.btn:hover, .list ul li :hover{
    background: #117bff;
    cursor: pointer;
    transition: background .5s;
}
@media only screen and (max-width: 800px) {
    .header h1
    {
        font-size: 65px;
    }
    .list ul li {
        font-size: 18px;
        padding: 0 35px;
    }

}
@media only  screen and (max-width: 500px) {

    .header h1
    {
        font-size: 30px;
        line-height: 40px;
    }
    .list ul li
    {
        font-size:14px;
        padding: 0 15px;
    }
    .list ul li a
    {
        line-height: 58px;
    }

}
@media only  screen and (max-width: 300px) {
    .header p
    {
        display: none;
    }
    .list ul li
    {
        font-size:11px;
        padding: 0 10px;
    }
    .list ul li a
    {
        line-height: 30px;
    }
}


.popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.popup-inside{
    margin: 10px auto 0 70%;
    height: 89%;
    padding:0px;
    background-color: #c52c46;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;

}
.popup-inside ul
{

    list-style: none;
}
.popup-inside ul li
{

    line-height:20px;

}
.onoffswitch {
    position: relative; width: 130px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 22px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 29px; padding: 0; line-height: 29px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {

    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {

    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

#music:after
{
    content: "Music:OFF";
}
#music:before
{
    content: "Music:ON";
}
#support:after
{
    content: "Support:OFF";
}
#support:before
{
    content: "Support:ON";
}

#sound:after
{
    content: "Sound:OFF";
}
#sound:before
{
    content: "Sound:ON";
}

#reset:after
{
    content: " Progress Deleted";
}
#reset:before
{
    content: "Reset Progress";
}
